:root {
    /* color variable definitions */
    --overflow-red: #c72439;
    --dark-gray: #293744;
    --light-color: rgba(132, 139, 200, 0.18);
    --dark-color: #677483;

    --primary: ;
    --secondary: ;
    --font-color: ;
    --shadow-color: ;
    
    font-size: 0.625rem;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
    /* background-color: var(--overflow-red); */
    font-size: 1.6rem;
    font-family: 'Archivo Black', sans-serif;

    background: url(./imgs/background-img.jpeg) no-repeat;
    background-size: 100% 100%;
    background-position: center;

}

h1 {
    /* color: var(--overflow-red); */
    font-size: 3.7rem;
}

h2 {
    font-size: 3.2rem;
    color: var(--overflow-red);
}

h2 span {
    font-size: 1.5rem;
    color: black;
    margin: 0.5rem;
}

section {
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    /* width: min(42.5rem, 100vh); */
    height: 100vh;
    /* padding-inline: 2rem; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 30rem;
    margin: 2rem;
    padding: 1rem;
}

.panel p { 
    opacity: 0.8;
    transition: 1s ease-in-out;
    width: 6.566rem;
    margin: auto;
    padding: 1rem;
    cursor: pointer;
    color: var(--dark-gray);
}

.panel p.active {
    opacity: 1;
    color: var(--overflow-red);  
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20rem; /*60rem*/
    height: 20rem; /*15rem*/
    /* border-radius: to be set */
    /* background-color: to be set */
}

.square::before {
    content: '';
    position: absolute;
    width: .5rem;
    height: .5rem;
    /* border-radius: to be set */
    /* background-color: to be set; */
}


.time {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.time p {
    font-size: 7rem;
    padding: 1rem;
}

.time p:nth-of-type(2) {
    position: relative;
    top: -1.4rem;
    margin: 1rem 0;
}

.controls {
    margin: 3rem 0;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.controls button#start {
    background-color: #354C72; /* Green color for Start button */
    color: #fff; /* White text color */
}

.controls button#reset {
    display: none;
    background-color: var(--overflow-red); /* Red color for Reset button */
    color: #fff; /* White text color */
}
.controls button:hover {
    filter: brightness(90%); /* Slight brightness reduction on hover for all buttons */
}
